.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

.app.dark {
  --bg-color: #242424;
  --text-color: #ffffffde;
  --button-hover: #5050507b;
  --border: #505050;
  --shadow: rgba(255, 255, 255, 0.109);
}

main {
  overflow: hidden;
  max-width: 2100px;
  width: 100%;
}
