.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app.dark {
  --bg-color: #242424;
  --text-color: #ffffffde;
  --button-hover: #5050507b;
  --border: #505050;
  --shadow: #33333325;
}

main {
  padding: 10px 20px;
  overflow: hidden;
}
