.ecv-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 2100px;
  padding: 20px;
}

.ecv-footer-para {
  opacity: 0.6;
}

.ecv-footer-links {
  color: var(--text-color);
}
