.ecv-edit-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 215px;
}

.ecv-edit-elementList {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.2s;
  cursor: pointer;
}

.ecv-edit-elementList:hover {
  text-decoration: underline;
}

.ecv-edit-link {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.is-selected {
  background-color: var(--button-hover);
}

.is-selected:hover {
  text-decoration: none;
}
